[submodule "SINGULARITY"]
	path = SINGULARITY
	url = ssh://rnaseq:/data/ENCODE_pipeline_dependencies/SINGULARITY
	datalad-id = ccdbeffd-4e6f-4c37-b795-48fdbcc64da7
[submodule "INDICES"]
	path = INDICES
	url = ssh://rnaseq:/data/ENCODE_pipeline_dependencies/INDICES
	datalad-id = 984753e9-11bb-4e07-8be4-9c0dbc27c677
[submodule "PIPELINE"]
	path = PIPELINE
	url = ssh://rnaseq:/data/ENCODE_pipeline_dependencies/ENCODEpipeline
	datalad-id = c747ede8-f1a8-442e-b46a-93835d826924
